body{
color: rgb(5, 187, 5);
background-color: rgb(109, 27, 27);
}

.position{
text-align: center;
border: solid 2px;
display: block;
width: max-content;
margin: auto;
}

.block{
text-align: center;
border: solid 2px;
display: block;
width: max-content;
margin: auto;
margin-top: 3rem !important;
}

.prix{
display: block;
width: max-content;
margin: auto;
border: solid 2px;
margin-top: 10rem;
}

.image{
height: 350px;
width: 500px;
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 20px;
}